<div class="card border-info m-5">
 <div class="card-header"><h1><i class="fas fa-edit"></i> Édite le commentaire</h1></div>

  <%= form_tag url_for(action: 'update'), method: "patch" do %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <div class="card-body text-info">
        <div class="form-group">
          <%= label_tag 'Contenu du commentaire' %>
          <%= text_area_tag :content, @comment.content, class:'form-control', placeholder: @comment.content %>
          <br /> <br />

          <%= submit_tag "Éditer le commentaire", class: "btn btn-info" %>
         <%= link_to "Supprimer le commentaire", gossip_comment_path(@comment.gossip.id, @comment.id), type: "submit", method: "delete", data: { confirm: "Tu es sûr-e ?" }, class: "btn btn-danger"  %>

        <% end %>
      </div>
    </div>


  </div>
</div>
