<% if flash.now[:notice] %>
<div class="alert alert-success">
  <div class="notice">
    <%= flash.now[:notice] %>
    <button class="close" type="button" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<% end %>

  <h1 class="text-center m-4"><i class="fas fa-comments"></i> Tous les potins</h1>

  <div class="card-columns border-info container">
    <% @gossips.each do |i| %>
      <div class="card" style="width: 18rem;">
        <div class="card-header"><h5 class="card-title"><%= i.title %> <span class="badge badge-secondary">
      <i class="fas fa-comments"></i> <%= i.comments.count %></span></h5>
        <%= i.comments.count %>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted"><%= i.user.first_name %></h6>
          <%= link_to "Go Potin", gossip_path(i.id),:class => "btn-info btn p-1"%>
        </div>
      </div>
    <% end %>
</div>
